.pageDown{
    background-color: #212529;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: whitesmoke;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.placeCopy {
    text-align: center;
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
.titleNavBar {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
body{
    background-color: #212529;
}
.jbh {
    text-align: center;
    background-color: white;
}
.modifPro{
    background-color: red;
}